@model MaintinfoBo.BonSortie

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>Bon de sortie</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ArticleSortie)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ArticleSortie.NomArticle)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Quantite)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Quantite)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.LeDepanneur)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LeDepanneur.NomDepanneur)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.DateDemande)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DateDemande)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Modifier", "Edit", new { id = Model.BonSortieID }) |
	@Html.ActionLink("Retour à la liste", "Index")
</p>
